.my-img{
    margin-top: 120px;
    width: 210px;
    height: 205px;
    border-radius: 50%;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-size: 15px;
    max-width: 100%;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 65px;
    font-weight: 400;
    color: green blue;
}
.hero-action a{
    text-decoration: none;
    color: white;
}
.hero h1 span{
    background: linear-gradient(267deg, green 0.36%, blue 102.4%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 50px;
}
.resume{
    padding: 14px 35px;
    border: 2px solid greenyellow;
    border-radius: 35px;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    /* animation: ani 3s linear 
    infinite; */
}
.resume:hover{
    transform: scale(1.2);
}

.connect{
    padding:14px 35px;
    background: linear-gradient(267deg, green 0.36%, blue 102.4%);
    border-radius: 35px;
    cursor: pointer;
    transition: 1s;
    text-align: center;
}
.connect:hover{
    transform: scale(1.2);
}
@media (max-width:800px) {
    .my-img{
        margin-bottom: 50px;
        width: 270px;
        height: 280px;
    }
    .hero h1{
        margin-top: 30px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 16px;
        line-height: 32px;
        margin: 10px;
    }

    .resume{
        padding: 7px 38px;
        border: 1px solid greenyellow;
    }
    .connect{
        padding: 8px 38px;
    }
}
@media (max-width:450px){
    .hero p{
        width: 50%;
        font-size: 11px;
        line-height: 22px;
        margin: 10px;
    }
    .hero-action{
        gap: 10px;
    }
    .my-img{
        width: 250px;
        height: 260px;
    }
    .hero h1{
        font-size: 40px;
    }
}