.footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 170px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.downleft{
    display: flex;
    justify-content:space-between;
}
.downleft p{
    font-size: 13px;
}
.title p{
    font-size: 15px;
    color: whitesmoke;
    max-width: 300px;
    margin-top: 10px;
}
.mail{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mail img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}
.mails{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(26, 26, 26);
    padding: 6px 6px;
    border-radius: 10px;
}
.mails input{
    width: 300px;
    height: 30px;
    background: none;
    border: none;
}
.name h1{
    background: linear-gradient(267deg, green 0.36%, blue 102.4%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mail button{
    padding: 8px 10px;
    border-radius: 15px;
    width: 120px;
    font-size: 12px; 
    border: none;
    background: linear-gradient(267deg, green 0.36%, blue 102.4%);
    color: whitesmoke;
    font-family: "Poetsen One", sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
.mail button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.hey{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
}
@media(max-width:800px){
    .footer{
        margin: 50px 70px;
    }
    .title{
        flex-direction: column;
        gap: 50px;
    }
    .downleft{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .mail{
        align-items: start;
    }
    .mails{
        width: 250px;
    }
}
@media(max-width:380px){
    .footer{
        margin: 60px 5px;
    }
}